<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @transportation, partial: "card", as: :transportation %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "transportations/transportation_routes" %>
  </div>
</div>
