<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @route, partial: "card", as: :route %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "routes/route_feedbacks" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "routes/route_attractions" %>
  </div>
</div>
